<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
<!-- 		<encoder> -->
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
<!-- 		</encoder> -->
    </appender>

    <logger name="pe.edu.cibertec" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="warn">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>