<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.edu.cibertec.repositorio.mapper.ComprasMapper">

	<resultMap type="Compras" id="Compras">
		<id column="id" property="id" />
		<result column="cantidad" property="cantidad" />
		<result column="total" property="total" />
		<result column="fechacreacion" property="fechacreacion" />
		<result column="activo" property="activo" />
		<result column="flag" property="flag" />
		<association property="producto" columnPrefix="prod_"
			resultMap="Productos" />
	</resultMap>

	<resultMap type="Productos" id="Productos">
		<id column="id" property="id" />
		<result column="nombre" property="nombre" />
		<result column="descripcion" property="descripcion" />
		<result column="costo" property="costo" />
		<result column="precio" property="precio" />
		<result column="fechacreacion" property="fechacreacion" />
		<result column="flag" property="flag" />
	</resultMap>

	<select id="selectTodasCompras" resultMap="Compras">
		SELECT
		c.id,
		c.cantidad, c.total, c.fechacreacion,
		case
		when c.flag = '0' then 'INACTIVO'
		ELSE 'ACTIVO' END AS activo,
		c.flag,
		p.id AS prod_id, p.nombre
		AS prod_nombre,
		p.descripcion AS
		prod_descripcion, p.costo AS
		prod_costo,
		p.precio AS prod_precio,
		p.fechacreacion AS
		prod_fechacreacion,
		p.flag AS prod_flag
		FROM compras c
		LEFT JOIN
		productos p
		ON c.id_producto = p.id
	</select>

	<select id="selectComprasPorId" parameterType="int" resultMap="Compras">
		SELECT * FROM Compras c
		WHERE c.id = #{id}
	</select>

	<insert id="insertCompras" useGeneratedKeys="true" keyProperty="id"
		parameterType="Compras">
		INSERT INTO Compras (cantidad, total, fechacreacion,
		id_producto,flag)
		VALUES (#{cantidad}, #{total}, #{fechacreacion},
		#{producto.id}, #{flag})
	</insert>

	<delete id="deleteCompras" parameterType="int">
		DELETE FROM Compras
		WHERE id = #{id}
	</delete>

</mapper>
